<!DOCTYPE html>
<html>
<head>

</head>

<body>
<h1>Add new crop</h1>
<form action="/addcrop" method="post">
        <fieldset>
            <label for="name">Crop Name:</label>
            <input type="text" id="cropname" placeholder="Enter the crops name" />

            <label for="email">Minimum Temperature</label>
            <input type="number" id="mintemp" placeholder="" />

            <label for="email">Maximum Temperature</label>
            <input type="number" id="maxtemp" placeholder="" />

            <label for="email">Opt Min Temperature</label>
            <input type="number" id="optmintemp" placeholder="" />

            <label for="email">Opt Max Temperature</label>
            <input type="number" id="optmaxtemp" placeholder="" />

            <input type="submit" value="Submit" />
        </fieldset>
    </form>
</body>
