<!DOCTYPE html>
<html>
<head>

</head>

<body>
<h1>Add new crop</h1>
<form action="/addcrop" method="post">
        <fieldset>
            <label>Crop Name:</label>
            <input type="text" name="cropname" placeholder="Enter the crops name" />

             <label>Minimum Temperature</label>
            <input type="text" name="mintemp" placeholder="" />

            <label>Opt Min Temperature</label>
           <input type="text" name="optmintemp" placeholder="" />

             <label>Maximum Temperature</label>
            <input type="text" name="maxtemp" placeholder="" />

             <label>Opt Max Temperature</label>
            <input type="text" name="optmaxtemp" placeholder="" />

            <br></br>

             <label>Minimum Rainfall</label>
            <input type="text" name="minrain" placeholder="" />

            <label>Opt Min Rainfall</label>
           <input type="text" name="optminrain" placeholder="" />

             <label>Maximum Rainfall</label>
            <input type="text" name="maxrain" placeholder="" />

             <label>Opt Max Rainfall</label>
            <input type="text" name="optmaxrain" placeholder="" />

            <br></br>

            <label>Minimum ph</label>
           <input type="text" name="minph" placeholder="" />

           <label>Opt Min ph</label>
          <input type="text" name="optminph" placeholder="" />

            <label>Maximum ph</label>
           <input type="text" name="maxph" placeholder="" />

            <label>Opt Max ph</label>
           <input type="text" name="optmaxph" placeholder="" />

            <input type="submit" value="Submit" />
        </fieldset>
    </form>
</body>
