<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>

<body>

    <% include ../partials/nav.ejs %>

<div class="container">
    <h1>Add new crop</h1>
    <form action="/addcrop" method="post">
        <fieldset>
            <label>Crop Name:</label>
            <input type="text" name="cropname" placeholder="Enter the crops name" />

             <label>Minimum Temperature</label>
            <input type="text" name="mintemp" placeholder="" />

            <label>Opt Min Temperature</label>
           <input type="text" name="optmintemp" placeholder="" />

           <label>Opt Max Temperature</label>
          <input type="text" name="optmaxtemp" placeholder="" />

             <label>Maximum Temperature</label>
            <input type="text" name="maxtemp" placeholder="" />

            <br></br>

             <label>Minimum Rainfall</label>
            <input type="text" name="minrain" placeholder="" />

            <label>Opt Min Rainfall</label>
           <input type="text" name="optminrain" placeholder="" />

           <label>Opt Max Rainfall</label>
          <input type="text" name="optmaxrain" placeholder="" />

             <label>Maximum Rainfall</label>
            <input type="text" name="maxrain" placeholder="" />

            <br></br>

            <label>Minimum ph</label>
           <input type="text" name="minph" placeholder="" />

           <label>Opt Min ph</label>
          <input type="text" name="optminph" placeholder="" />

          <label>Opt Max ph</label>
         <input type="text" name="optmaxph" placeholder="" />

            <label>Maximum ph</label>
           <input type="text" name="maxph" placeholder="" />


            <input type="submit" value="Submit" />
          </fieldset>
      </form>
</div>
</body>
</html>
