<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<% include ../partials/nav.ejs %>

<div class="container">
	<p> <%= data %> </p>

	<form action="/ai" method="POST">
	    <input type="text" placeholder="name" name="name">
	    <input type="text" placeholder="name" name="name">
	    <button type="submit">Submit</button>
	 </form>

 </div>

</body>
</html>
