<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="../js/compare.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="container">
    <table style="width: 100%;"  cellpadding="2">
      <tbody>
        <tr>
          <td id='left' style='background-color:darkGrey;'>

            <div id='farmTable' data-num='0' style="display: table; width: 100%;">

            </div>
            <i class="material-icons md-light md-24" onclick="functionGoesHere">add_circle_outline</i>

            <td id='right'>
              <div id='farmDataTable' data-num='0' style="display: table; width: 100%;">

              </div>
            </td>
            <td id='farRight'>
              <div id='cropList' data-num='0' style="display: table; width: 100%;">

              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
  </html>
