<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
    <script src="../js/compare.js"></script>
</head>

<body>

    <% include ../partials/nav.ejs %>

<div class="container">
    <div style='float:left;'>
      <p>left</p>
    <div>
    <div style='float:right;'>
      <p>right</p>
    </div>
</div>
</body>
</html>
