<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="../js/compare.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="container">
    <table style="width: 100%;"  cellpadding="2">
      <tbody>
        <tr>
          <td id='left' style='background-color:darkGrey;'>

            <div id='farmTable' data-num='2' style="display: table; width: 100%;">
            <div class="farm">
              <p onclick="fieldClick('farm1')" id="farm1">This is an farm</p>
            </div>
            <div class="farm">
              <p onclick="fieldClick('farm2')" id="farm2">This is a second farm</p>
            </div>
            </div>
            <i class="material-icons md-light md-24" onclick="functionGoesHere">add_circle_outline</i>

            <td id='right'></td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
  </html>
