<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
    <script src="../js/compare.js"></script>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="container">
    <table style="width: 100%;"  cellpadding="2">
      <tbody>
        <tr>
          <td id='left'><</td>
          <td id='right'></td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>
